<table class="table table-striped table-bordered table-hover">
    <tbody>
    <tr>
        <td><span class="badge bg-blue-2">101</span></td>
        <td>ACME Inc.</td>
        <td><nobr><span class="green">{{fa-icon "arrow-up"}} 84,4%</span></nobr></td>
    </tr>
    <tr>
        <td><span class="badge bg-blue-2">102</span></td>
        <td>ICCA Inc.</td>
        <td><nobr><span class="green">{{fa-icon "arrow-up"}} 56,5%</span></nobr></td>
    </tr>
    <tr>
        <td><span class="badge bg-blue-2">103</span></td>
        <td>BALY Inc.</td>
        <td><nobr><span class="green">{{fa-icon "arrow-up"}} 43,3%</span></nobr></td>
    </tr>
    <tr>
        <td><span class="badge bg-blue-2">104</span></td>
        <td>GOLD Inc.</td>
        <td><nobr><span class="red">{{fa-icon "arrow-down"}} 13,6%</span></nobr></td>
    </tr>
    <tr>
        <td><span class="badge bg-blue-2">105</span></td>
        <td>DUSS Inc.</td>
        <td><nobr><span class="red">{{fa-icon "arrow-down"}} 3,1%</span></nobr></td>
    </tr>
    <tr>
        <td><span class="badge bg-blue-2">106</span></td>
        <td>SOLR Inc.</td>
        <td><nobr><span class="red">{{fa-icon "arrow-down"}} 0,1%</span></nobr></td>
    </tr>
    <tr>
        <td><span class="badge bg-blue-2">107</span></td>
        <td>XONM Inc.</td>
        <td><nobr><span class="red">{{fa-icon "arrow-down"}} 1,0%</span></nobr></td>
    </tr>
    </tbody>
</table>
